.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.chat-create {
  font-size: 10px;
}

.chat-create a{
  text-decoration: none;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
}

.rooms{
  height: calc( 100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}


.room-name a {
  text-decoration: none;
  color: white;
}

.chat {
  width: calc( 100vw - 300px );
  background-color: #ffffff;
}

.message-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin: 36px 0 0 0;
  font-size: 24px;
  color: #333;
}

.header-button {
  margin: 40px 0 0 0;
}

.header-button a {
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
  text-decoration: none;
}

.messages {
  height: calc( 100vh - 190px );
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  padding: 10px 0;
}

.upper-message {
  display: flex;
  margin: 0 0 10px 0;
}

.message-user {
  font-size: 16px;
  color: #434A54;
  margin: 0 10px 0 0;
}

.message-date {
  color: #999;
  font-size: 12px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}